
<h1>Welcome</h1>
<li><a href="#">Login!</a></li>
<li><a href="#">Logout!</a></li>
<li><a href="/newstudent">New Student</a></li>
<li><a href="/newtransaction">New transaction</a></li>
<li><a href="/newitem">New item</a></li>
<li><a href="/recharge">Recharge</a></li>
<li><a href="/update_item_data">Update item data</a></li>
<li><a href="/update_student_data">Update student data</a></li>


