
<form action="/newItem" method="POST">
    <input type="text" name="ID" placeholder="ID">
    <input type="text" name="Iname" placeholder="name">
    <input type="text" name="cost" placeholder="cost">
    <select id="items" name="item">
        <option value="Food">Food</option>
        <option value="Library">Library</option>
        <option value="Fee_Dept">Fee Dept</option>
        <option value="Conveno">Conveno</option>
      </select>
    <button>Submit</button>
</form>
