<form action="/newt" method="POST">
    <input type="text" name="quantity" placeholder="quantity">
    <input type="text" name="Time" placeholder="time">
    <input type="text" name="RFID" placeholder="RFID">
    <input type="text" name="ID" placeholder="ID">
    <select id="items" name="item">
        <option value="Food">Food</option>
        <option value="Library">Library</option>
        <option value="Fee_Dept">Fee Dept</option>
        <option value="Conveno">Conveno</option>
      </select>
    <button>Submit</button>
</form>
<li><a href="/">Home</a></li>