<form action="/rechargebal" method="POST">
    <input type="text" name="RFIDno" placeholder="RFID">
    <input type="text" name="Recharge" placeholder="Recharge amount">
    <button>Submit</button>
</form>
<li><a href="/">Home</a></li>