<form action="/update_it" method="POST">
    <input type="text" name="ID" placeholder="ID">
    <input type="text" name="cost" placeholder="cost">
    <select id="option" name="opt">
        <option value="delete">Delete/option>
        <option value="update">Update</option>
    </select>
<select id="items" name="item">
    <option value="Food">Food</option>
    <option value="Library">Library</option>
    <option value="Fee_Dept">Fee Dept</option>
    <option value="Conveno">Conveno</option>
</select>
    <input type="submit">
    <li><a href="/">Home</a></li>