<form action="/update_stu" method="POST"></form>
<input type="text" name="RFID" placeholder="Present RFID">
<input type="text" name="USN" placeholder="Present USN">
<select id="option" name="opt">
    <option value="delete">Delete/option>
    <option value="update">Update</option>
</select>
<select id="items" name="item">
    <option value="new_Name">Name</option>
    <option value="new_RFID">RFID</option>
    <option value="new_USN">USN</option>
    <option value="new_DOB">DOB</option>
    <option value="new_Course">Course</option>
</select>
<input type="text" name="val" placeholder="Value">
<input type="submit">
<li><a href="/">Home</a></li>