<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<% if(x==3) { console.log("hello "+x); %>
<script type="text/javascript">
    alert("Low balance");
</script>
 <% } %>
 <%  if(x==2) { console.log("hello "+x); %>
<script type="text/javascript">
    alert("Form incomplete / Wrong info");
</script>
 <% } %>
 <%  if(x==1) { console.log("hello "+x); %>
 <script type="text/javascript">
     alert("DONE!!");
 </script>
  <% } %>
 <div class="container">
    <div class="jumbotron">
        <h1>New Transaction</h1>
<form action="/newtransaction" method="POST">
    <input type="text" name="quantity" placeholder="quantity">
    <input type="text" name="RFID" placeholder="RFID">
    <input type="text" name="ID" placeholder="ID">
    <select id="items" name="item">
        <option value="Food">Food</option>
        <option value="Library">Library</option>
        <option value="Fee_Dept">Fee Dept</option>
        <option value="Conveno">Conveno</option>
      </select>
    <button>Submit</button>
</form>
<a class="btn btn-primary" role="button" href="/home">Home</a>
</div>
</div>