<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<% if(x==1) {  %>
    <script type="text/javascript">
        alert("Logged you out");
    </script>
     <% } %>

<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Smart Payments System</h1>
        <div class="container">
            <li><a href="/login">Login!</a></li>
            <li><a href="/register">Register!</a></li>
            <li><a href="/home">Home</a></li>
        </div>
    </div>
</div>